---

---
<style>
	h2 {
        display: flex;
		justify-content: center;
		align-items: center;
		font-size: x-large;
        padding: 10vh 0;
        grid-area: ask;
        text-align: center;
        background-color: red;
	}
    img {
        width: 64vh;
        grid-area: img;
        background-color: green;
    }
    p {
        font-size: large;
        padding: 10vh 0;
        grid-area: answer;
        text-align: center;
        background-color: blue;
    }

	.container {
		height: 80vh;
		padding: 10vh 0;
        display: grid;
        grid-template-areas:
        'ask ask'
        'img answer';
	}
</style>
<div class="container">
    <h2>
        ¿Cansado de imprimir menús costosos y actualizarlos constantemente?<br>
        ¿Quieres ofrecer a tus clientes una experiencia moderna y
        personalizada?
    </h2>
    <img src="./menu.png">
    <p>
        ¡Conoce Menús Digitales, la solución SAAS que te permite crear,
        actualizar y administrar tu menú digital en minutos, sin necesidad
        de conocimientos técnicos!
    </p>
</div>