---
---
<div class="container px-4 py-5" id="home-features">
  <h2 class="pb-2 border-bottom">Con Menús Digitales podrás</h2>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-5">
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Diseñar</h3>
        <p>Diseñar un menú atractivo y profesional con nuestra herramienta de diseño intuitiva.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Mostrar</h3>
        <p>Incluir fotos, vídeos y descripciones detalladas de tus platos para que tus clientes sepan exactamente qué están pidiendo.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Organizar</h3>
        <p>Organizar tu menú por categorías, secciones y precios para facilitar la navegación.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Actualizar</h3>
        <p>Realizar cambios en tiempo real a tu menú, sin necesidad de volver a imprimirlo.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Automatizar</h3>
        <p>Ofrecer a tus clientes la posibilidad de realizar pedidos online directamente desde su teléfono inteligente.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Analizar</h3>
        <p>Obtener información valiosa sobre las preferencias de tus clientes a través de nuestro sistema de análisis.</p>
      </div>
    </div>
  </div>
</div>