---
---
<div class="container px-4 py-5" id="icon-grid">
  <h2 class="pb-2 border-bottom">¿Por qué elegir Menús Digitales?</h2>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-5">
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Fácil de usar</h3>
        <p>No necesitas conocimientos técnicos para crear y administrar tu menú digital.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Asequible</h3>
        <p>Ofrecemos planes flexibles para adaptarse a tu presupuesto.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Personalizable</h3>
        <p>Puedes personalizar tu menú digital para que coincida con la imagen de tu marca.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Eficaz</h3>
        <p>Te ayuda a aumentar tus ventas y mejorar la experiencia de tus clientes.</p>
      </div>
    </div>
  </div>
</div>