---

---
<style>
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    grid-area: ask;
    text-align: center;
    background-color: blueviolet;
  }
  img {
    width: 50vw;
    grid-area: img;
  }
  .description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    grid-area: answer;
    text-align: center;
    width: 40vw;
    padding: 0 5vw;
  }
	.container {
    display: grid;
    grid-template-areas:
    'ask ask'
    'img answer';
    background-color: red;
	}
  @media only screen and (max-width: 425px) {
  }
</style>
<div class="container">
    <h2>
        ¿Cansado de imprimir menús costosos y actualizarlos constantemente?<br>
        ¿Quieres ofrecer a tus clientes una experiencia moderna y
        personalizada?
    </h2>
    <img src="./menu.png">
    <div class="description">
      <p>
        ¡Conoce Menús Digitales, la solución SAAS que te permite crear,
        actualizar y administrar tu menú digital en minutos, sin necesidad
        de conocimientos técnicos!
      </p>
    </div>
</div>