---
---
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">¿Estás listo para dar el siguiente paso?</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">¡Empieza hoy mismo tu prueba gratuita de 30 días!</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3" hero-primary-button>Contactar</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4" hero-secondary-button>Ver demo</button>
    </div>
  </div>
</div>

<script>
  // Import npm modules.
  // Find our component DOM on the page.
  const primaryButtons = document.querySelectorAll('[hero-primary-button]');
  const secondaryButtons = document.querySelectorAll('[hero-secondary-button]');

  // Add event listeners to fire confetti when a button is clicked.
  primaryButtons.forEach((button) => {
    button.addEventListener('click', () => {
      window.open('/contact');
    });
  });
  secondaryButtons.forEach((button) => {
    button.addEventListener('click', () => {
      window.open('https://nextjs-notion-tacos-el-vaquero.vercel.app/');
    });
  });
</script>