---
---
<style>
    h3 {
        font-size: x-large;
        grid-area: header;
        text-align: center;
    }
    ul {
        grid-area: list;
        text-align: center;
        display: grid;
        grid-template-areas: 
        'li li li li li li';
        padding: 10vh 0;
    }
    img {
        width: 20vw;
    }
    p {
        font-size: large;
    }
    .container {
        display: grid;
        grid-template-areas: 
        'header'
        'list';
        padding: 10vh;
    }
</style>
<div class="container">
    <h3>Con Menús Digitales podrás</h3>
    <ul>
        <li>
            <div>
                <img src="./design.png" alt="Diseña tu menú">
                <p>
                    Diseñar un menú atractivo y profesional con nuestra herramienta
                    de diseño intuitiva.
                </p>
            </div>
        </li>
        <li>
            <p>
                Incluir fotos, vídeos y descripciones detalladas de tus platos
                para que tus clientes sepan exactamente qué están pidiendo.
            </p>
        </li>
        <li>
            <p>
                Organizar tu menú por categorías, secciones y precios para
                facilitar la navegación.
            </p>
        </li>
        <li>
            <p>
                Realizar cambios en tiempo real a tu menú, sin necesidad de
                volver a imprimirlo.
            </p>
        </li>
        <li>
            <p>
                Ofrecer a tus clientes la posibilidad de realizar pedidos online
                directamente desde su teléfono inteligente.
            </p>
        </li>
        <li>
            <p>
                Obtener información valiosa sobre las preferencias de tus
                clientes a través de nuestro sistema de análisis.
            </p>
        </li>
    </ul>
</div>